body {
  background-image: url("Images/26380891109_316685db61_k.jpg");
  background-size: cover;
  background-color: #000000;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainPlaylistContainer {
  display: none;
  justify-content: flex-start;
  flex-direction: column;

  flex-wrap: wrap;
  align-items: flex-start;
  float: left;
  margin: auto;
  width: 1700px;
  height: 1000px;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  overflow: scroll;
}

#mainPlaylistContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
#UserUiBar {
  display: none;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  margin-bottom: 20px;
  width: 1700px;
  padding: 20px;
  height: 123px;
  border-radius: 15px;
}
#logInErrorMessage {
  display: none;
  color: white;
  text-align: center;
}
#logInUsernameInput {
  margin: 35px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
  width: 300px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
#logInPasswordInput {
  margin: 35px;
  font-size: 20px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 300px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
::-webkit-input-placeholder {
  color: #fff;
}
#logInPasswordInput::placeholder {
  color: white;
}
#logInUsernameInput::placeholder {
  color: rgb(255, 255, 255);
}

#logInButton {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 35px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  height: 30px;
  width: 306px;
}
#logInContainer {
  margin: auto;
  margin-top: 300px;
  background-color: transparent;
  width: 380px;
  height: 230px;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 15px;
}
#accountDetailsTextIconCon {
  border: 2px solid transparent;
  height: 40px;
}
#platylistImageInput {
  background-color: transparent;
  color: white;
  width: 180px;
  border: 2px solid white;
  margin: 5px;
}
#accountDetailsLogoutWrapper {
  float: left;

  width: 330px;
  height: 140px;
}
#logOutButton {
  position: relative;
  border-radius: 15px;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 0px;
  font-size: 14px;
  border: 0px;
  color: rgba(194, 194, 194, 0.781);
  float: left;
  transition: 1s;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  width: 320px;
  height: 30px;
}
#logOutButton:hover {
  cursor: pointer;
  color: white;
}
#addSongTitle {
  font-size: 27px;
  margin: 0px;
  margin-left: 8px;
  margin-right: 0px;
  float: left;
}
#createPlaylistTitle {
  text-align: center;
  font-size: 27px;
  margin: 0px;
  margin-bottom: 10px;
}

#accountDetailsIcon {
  width: 47px;
  filter: invert();
  margin-top: 0px;
  margin-right: 35px;
  margin-left: 9px;
  margin-bottom: 0px;
  float: left;
}
#songUrlInput {
  background-color: transparent;
  margin: 5px;
  height: 20px;
  color: white;
  border: 2px solid white;
}
#songUrlInput::placeholder {
  color: white;
}
#accountDetailsUsernameDisplay {
  font-size: 20px;
  margin: 0px;

  margin-top: 9px;
  color: white;
}
#accountDetails {
  padding: 10px;
  color: white;
  float: left;
  color: #000000;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 15px;
  width: 300px;
  height: 53px;
}
#addSong {
  padding: 10px;
  color: white;
  float: left;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 15px;
  padding-top: 5px;
  width: 300px;
  height: 110px;
  margin-right: 73px;
}
#addSongPlaylistSelector {
  width: 290px;
  margin: 5px;
  margin-top: 4px;
  border: 2px solid white;
  height: 25px;
  background-color: transparent;
  color: white;
}
option {
  background-color: rgb(215, 215, 215);
  color: #000000;
}

#playlistCreateButton {
  border: 2px solid white;
  background-color: transparent;
  margin: 5px;
  color: white;
  height: 25px;
  margin-left: 19px;
  width: 100px;
}
#addSongButton {
  margin: 5px;
  margin-left: 15px;
  height: 26px;
  width: 100px;
  margin-right: 0px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
#playlistNameInput {
  width: 280px;
  height: 18px;
  margin: 5px;
  margin-top: 0px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
#playlistNameInput::placeholder {
  color: white;
}
#createPlaylist {
  margin-left: 2px;
  padding: 10px;
  padding-top: 3px;
  color: white;
  float: left;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 15px;
  width: 300px;
  height: 110px;
}
.deleteButton {
  background-color: transparent;
  margin-left: 10px;
  font-size: 24px;
  border: 0px;
  color: rgba(194, 194, 194, 0.781);
  transition: 1s;
}
.deleteButton:hover {
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
.shareButton {
  position: absolute;
  background-color: transparent;
  margin: 0px;
  margin-left: 328px;
  font-size: 14px;
  border: 0px;
  color: rgba(194, 194, 194, 0.781);
  transition: 6s;
}
.shareButton:hover {
  cursor: pointer;
  color: white;
}
#accountDetailsUsernameTitle {
  color: white;
  font-size: 16px;
  margin-top: 22px;
  margin-bottom: 0px;
}
#addSongImg {
  margin: 0px;
  margin-left: 12px;
  width: 130px;
  height: 35px;
}
#logInTitle {
  float: left;
  width: 432px;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}
.deleteSongButton {
  background-color: transparent;
  align-items: end;
  opacity: 20%;
  font-size: 14px;
  color: white;
  border: 0px transparent;
  transition: 1s;
}
.deleteSongButton:hover {
  cursor: pointer;
  opacity: 80%;
}
#imageInputLabel {
  margin: 0px;
  margin-left: 34px;
  width: 400px;
}
#imageInputDiv {
  border: 2px solid white;
  float: left;
  margin: 5px;
  width: 160px;
  height: 23px;
}
#logOutTitle {
  color: rgb(255, 255, 255);

  height: 50px;
  line-height: 120px;
  margin: auto;
  text-align: center;
  font-size: 110px;
  margin-left: 110px;
  margin-right: 110px;
}
#logInBar {
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  margin-bottom: 20px;
  width: 1700px;
  padding: 20px;
  height: 123px;
  border-radius: 15px;
}
#appContainer {
  margin: auto;

  width: 1700px;
}

.hoveredPlaylist {
  width: 700px;
  height: 700px;
}
.songsContainer {
  position: absolute;
  top: 10px;
  left: 0px;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 2s;
  overflow: hidden;
}
.songsContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.hidden {
  opacity: 0;
}
.allScrollableSongsCon {
  width: 100%;
  height: 90%;
  overflow: scroll;
}
.allScrollableSongsCon::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.playlistName {
  font-size: 20px;
  margin-top: 5px;
  position: absolute;
}
.playlistsongContainer {
  margin-bottom: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  float: left;
}
.PlaylistContainer {
  background-size: contain;

  position: relative;
  float: left;
  width: 425px;
  height: 425px;
  color: white;
  align-items: center;
  border-radius: 15px;

  transition: 1s ease;
  z-index: 1;
}
.blurred {
  filter: blur(15px);
  filter: brightness(40%);
}
.imageContainer {
  border-radius: 15px;
  height: 80%;
  width: 80%;
  transition: 1s;
  position: relative;
  display: block;
  margin: auto;
  margin-top: 42px;
  box-shadow: 0px 0px 15px 0px rgb(255, 255, 255);
}
.playlistImage {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  transition: 1s;
  position: relative;
}

.playlistSong {
  width: 400px;
  font-size: 17px;
  margin: 5px;
  text-decoration: none;
  color: white;
}
.playlistSong:hover {
  text-decoration: underline;
}
.playlistSong:visited {
  color: white;
}
.clickedContainer {
  width: 650px;
  height: 650px;
}
